#content {
	background-color: lavender;
}

.cell {
	float: left;
  height: 20px;
  width: 20px;
  background: #eee;
  border: solid gray 1px;
	border-radius: 2px;
}

.snake {
  background-color: green
}

.apple {
  background-color: red;
}

.row {
  clear: both;
}
