body {
	font-family: 'Shadows Into Light';
	background-color: tomato;
	font-size: 25px;
	color: aquamarine;
}

h1 {
	text-align: center;
	margin: 5px;
}

p {
	padding-top: 5px;
	font-size: 30px;
	text-align: center;
}

#score {
	margin-bottom: 0px;
}

#highscore {
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

div.cell {
	float: left;
  height: 35px;
  width: 35px;
	border-radius: 7px;
	background-color: #aaa;
	box-shadow: 1px 1px 3px #333 inset;
}

div.body {
	margin: auto;
}

div.snake {
	background-color: green;
	box-shadow: inset 1px 2px 3px #050; 
}

div.apple {
	z-index: 100;
	background-color: #bf1a00;
	box-shadow: 1px 1px 3px #400 inset;
}

#content {
	padding-top: 20px;
	margin: auto;
  width: 480px;
  text-align: center;
  text-shadow: 2px 2px #003;
}

div.row {
  clear: both;
}
